@import 'fonts';

$white: #ffffff;
$black: #151515;
$very-light-pink: #d7d7d7;
$dark-grey-blue: #263a49;
$black-two: #000000;
$brown-grey: #959595;
$greyish-brown: #454545;
$brown-grey-two: #aaaaaa;
$very-light-pink-two: #eeeeee;
$tomato: #dc2b2b;
$greyish-brown-50: rgba(69, 69, 69, 0.5);
$black-three: #111111;
$brown-grey-three: #858585;
$denim: #375973;

html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

body {
  min-height: 100vh;
}

.site-header {
  background-image: url("https://via.placeholder.com/1920x550/d7d7d7/959595?Text=1920x550.png");
  max-width: 1920px;
  height: 550px;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 992px) {
    position: relative;
  }
  @media (max-width: 992px) {
    background-image: url("https://via.placeholder.com/375x292/d7d7d7/959595?Text=375x292.png");
    height: 292px;
  }
  @media (max-width: 768px) {
    background-image: url("https://via.placeholder.com/375x523/d7d7d7/959595?Text=375x523.png");
    height: 523px;
  }
}

.home {
  width: 40%;
  text-align: center;
  &__logo {
    vertical-align: unset;
    @media (max-width: 768px) {
      width: 98px;
    }
  }
}
 
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin-left: 15.5%;
  margin-right: 15.5%;
  &__main {
    width: 30%;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
    @extend .Text-Style-4; 
  }
  &__user {
    margin: 0;
  }
  &__user-section {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 30%;
    margin-left: auto;
  }
  &__sign--bag {
    margin-right: 0.2rem;
    margin-left: 1rem;
  }
  @media (max-width: 992px) {
    display: none;
  }
  @media (max-width: 768px) {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.image-on-top {
  @media (max-width: 992px) {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider {
  background-color: $dark-grey-blue;
  height: 438px;
  width: 100%; 
  &__title {
    @extend .Text-Style-5;
  }
  &__price {
    @extend .Text-Style-7;
  }
}

.new-arrivals {
  &__header {
    padding-top: 109px;
    padding-bottom: 107px;
    @media (max-width: 992px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  &__title {
    vertical-align: middle;
    @extend .Text-Style-4; 
  }
  &__image {
    max-width: 309px;
  }
  &__all-products {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 100px;
  }
  &__all-products-link {
    width: 70px;
    height: 14px;
    padding: 17px 33px;
    border: solid 2px $black;
    @extend .Text-Style-13;  
  }
}

.product {
  border-radius: 0;
  border: none;
  &__image {
    border-radius: 0;
  }
  &__category-name {
    @extend .Text-Style-13;  
    text-align: left;
  }  
  &__description {
    @extend .Text-Style-5;  
  }
  &__price {
    @extend .Text-Style-7;  
  }
}

.category {
  min-height: 450px;
  &__name {
    @extend .Text-Style-17;
  }
  &__shop {
    @extend .Text-Style-13;
  }
}

.newsletter {
  min-height: 406px;
  &__header {
    @extend .Text-Style-9;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 35px;
    @media (max-width: 992px) {
      font-size: 16px;
      font-weight: bold; 
    }
  }
  &__join {
    @extend .Text-Style-11;
    margin-bottom: 80px;
    @media (max-width: 992px) {
      font-size: 13px;
    }
  }
  &__section {
    display: block;
    text-align: center;
  }
  &__form {
    margin-bottom: 24px;
  }

  &__input { 
    @extend .Text-Style-12;
    border: none;
    width: 400px;
    @media (max-width: 992px) {
      width: 200px;
    }
  }
  &__submit {
    @extend .Text-Style-12;
    border: none;
    background-color: $white;
  }
  &__spam {
    @extend .Text-Style-5;
    text-align: center;
    margin-bottom: 97px;
  }
}

.show-when-narrow {
  display: none;
  @media (max-width: 992px) {
    display: inline;
  }
}

.show-when-very-narrow {
  display: none;
  @media (max-width: 768px) {
    display: inline;
  }
}

.hide-when-narrow {
  @media (max-width: 992px) {
    display: none;
  }
}

.footer {
  min-height: 150px;
  
  &__stuff {
    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 40px;
    margin-left: 15.5%;
    margin-right: 15.5%;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }  
  &__notes {
    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 22px;
    margin-left: 15.5%;
    margin-right: 15.5%;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  } 
}

.social {
  width: 18%;
  @media (max-width: 992px) {
    width: 100%;
    margin-bottom: 35px;
  }
  &__logo {
    margin-right: 0.5rem;
    @media (max-width: 992px) {
      margin-right: 3rem;
    }  
  }
}

.policy {
  width: 44%;
  @media (max-width: 992px) {
    width: 100%;
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
  }
  &__item {
    @extend .Text-Style-7;
  }
  &__link {
    text-decoration: none;
    color: $black;
  }
}

.settings {
  display: flex;
  justify-content: flex-end;
  width: 37%;
  @media (max-width: 992px) {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__currency-section {
    margin-right: 0.5rem;
  }
  &__label {
    @extend .Text-Style-15;
  }
  &__select {
    @extend .Text-Style-16;
  }
}

.copyrights {
  @extend .Text-Style-6;
}

.scroll {
  // display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  color: $denim;
  cursor: pointer;
}

/*

CC 2.0 License Iatek LLC 2018
Attribution required

*/

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
  }
  
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
      margin-right: initial;
  }
  
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

}

