@import 'fonts';

$white: #ffffff;
$black: #151515;
$very-light-pink: #d7d7d7;
$dark-grey-blue: #263a49;
$black-two: #000000;
$brown-grey: #959595;
$greyish-brown: #454545;
$brown-grey-two: #aaaaaa;
$very-light-pink-two: #eeeeee;
$tomato: #dc2b2b;
$greyish-brown-50: rgba(69, 69, 69, 0.5);
$black-three: #111111;
$brown-grey-three: #858585;
$denim: #375973;
$almost-black: rgba(0, 0, 0, 0.1);

html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

body {
  min-height: 100vh;
}

/******HEADER******/

.site-header {
  background-image: url("https://via.placeholder.com/1920x550/d7d7d7/959595?Text=1920x550.png");
  height: 550px;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 992px) {
    background-image: url("https://via.placeholder.com/375x523/d7d7d7/959595?Text=375x523.png");
    height: 523px;
  }
}

.image-on-top {
  @media (max-width: 992px) {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.home {
  width: 40%;
  text-align: center;
}

/******NAVIGATION******/
 
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin-left: 15.5%;
  margin-right: 15.5%;  
  &__main {
    width: 30%;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @media (max-width: 992px) {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
    @extend .Text-Style-4; 
  }
  &__user {
    margin: 0;
  }
  &__user-section {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 30%;
    margin-left: auto;
  }
  &__sign--bag {
    margin-right: 0.2rem;
    margin-left: 1rem;
  }
  @media (max-width: 992px) {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/******SLIDER******/

.slider {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: $dark-grey-blue;
  height: 438px;
  width: 100%;
  &__row {
    flex-wrap: nowrap;
  }
  &__card {
    border-radius: 0;
  }
  &__container {
    width: 69%;
    padding-left: 0;
    padding-right: 0;
  }
  &__left {
    left: -20%;
  }
  &__right {
    right: -20%;
  }
  &__item-description {
    @extend .Text-Style-5;
  }
  &__item-price {
    @extend .Text-Style-7;
  }  
}

/******MAIN******/

.main {
  margin-left: 15.5%;
  margin-right: 15.5%;
  @media (max-width: 768px) {
    margin-left: 4%;
    margin-right: 4%;
  }
}

/******NEW ARRIVALS******/

.new-arrivals {
  &__header {
    padding-top: 109px;
    padding-bottom: 107px;
    @media (max-width: 992px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  &__grid {
    padding-left: 0;
    padding-right: 0;
  }
  &__title {
    text-align: center;
    @extend .Text-Style-2; 
  }
  &__image {
    max-width: 309px;
  }
  &__all-products {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 100px;
  }
  &__all-products-btn {
    width: 136px;
    height: 48px;
    background-color: $white;
    border: solid 2px $black;
    @extend .Text-Style-13; 
    &:hover {
      color: $white;     
      background-color: $very-light-pink;
    } 
  }
}

.product {
  border-radius: 0;
  border: none;
  &__image {
    border-radius: 0;
  }
  &__category-name {
    @extend .Text-Style-14;  
    text-align: left;
  }  
  &__description {
    @extend .Text-Style-5;  
  }
  &__price {
    @extend .Text-Style-7;  
  }
}

/******CATEGORY******/

.category {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  min-height: 400px;
  &__col {
    padding: 5px;
  }
  &__col-big {
    padding: 0 15px;
  }
  &__card {
    padding: 0;
  }
  &__class {
    border-radius: 0;
  }
  &__name {
    @extend .Text-Style-17;
  }
  &__shop {
    @extend .Text-Style-13;
  }
  &__image {
    object-fit: cover;
  }
}

/******NEWSLETTER******/

.newsletter {
  min-height: 406px;
  @media (max-width: 992px) {
    font-size: 16px;
    font-weight: bold; 
  }
  &__header {
    @extend .Text-Style-9;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 35px;
    @media (max-width: 992px) {
      font-size: 16px;
      font-weight: bold; 
    }
  }
  &__join {
    @extend .Text-Style-11;
    margin-bottom: 80px;
    @media (max-width: 992px) {
      font-size: 13px;
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subscribe {
    width: 60%;
    @media (max-width: 992px) {
        width: 100%;
      }
  }
  &__form {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    display: flex;
    width: 100%;
  }

  &__input { 
    @extend .Text-Style-12;
    border: none;
    flex: 1;
  }
  &__submit {
    @extend .Text-Style-12;
    border: none;
    background-color: $white;
  }
  &__spam {
    @extend .Text-Style-5;
    padding-top: 15px;
  }
}

/******FOOTER******/

.footer {
  padding-top: 43px;
  border-top: 1px solid $very-light-pink-two;
  min-height: 150px;
  margin-left: 15.5%;
  margin-right: 15.5%;
  @media (max-width: 768px) {
    margin-left: 4%;
    margin-right: 4%;
  }
  &__stuff {
    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 40px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }  
  &__notes {
    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 22px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  } 
}

.social {
  flex: 1;
  @media (max-width: 992px) {
    width: 100%;
    margin-bottom: 35px;
  }
  &__logo {
    margin-right: 0.5rem;
    @media (max-width: 992px) {
      margin-right: 2rem;
    }  
  }
}

.policy {
  flex: 1;
  @media (max-width: 992px) {
    width: 100%;
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
    padding: 0.25rem 0 0 0;
    margin-bottom: 0;
  }
  &__item {
    @extend .Text-Style-7;
    @media (max-width: 992px) {
      font-size: 12px;
    }
  }
  &__link {
    text-decoration: none;
    color: $black;
  }
}

.settings {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  @media (max-width: 992px) {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__currency-section {
    margin-right: 0.5rem;
  }
  &__label {
    @extend .Text-Style-15;
  }
  &__select {
    @extend .Text-Style-16;
  }
}

.copyrights {
  @extend .Text-Style-6;
}

/******FOOTER******/

#spinner{
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top:3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}

/******OTHER******/

.scroll {
  position: fixed;
  top: 50%;
  right: 45px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  color: $denim;
  box-shadow: 0px 5px 30px 0 $almost-black;
  background-color: $white;
  cursor: pointer;  
  @media (max-width: 992px) {
    visibility: hidden;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.show-when-narrow {
  display: none;
  @media (max-width: 992px) {
    display: inline;
  }
}

.hide-when-narrow {
  @media (max-width: 992px) {
    display: none;
  }
}